/* Comentario en css */


/* selector {
    propiedad :valor;
}*/


/* como indivualizar estos elementos */


/* clase */

#trabajo {
    background-color: seagreen;
    color: rgb(252, 252, 252);
    text-decoration: tomato;
}